<form class="box" action="/poi/{{poi._id}}/addcategory" method="POST">
  <label>Enter Category Details:</label>
  <div class="field is-horizontal">
    <label> Category name</label>
    <input type="text" name="name" placeholder="Type POI here" required >
    
  </div>
  <button class="button is-primary" value="submit">Add Category</button>
</form>