<form action="/dashboard/addpoi" method="POST">
  <div class="field">
    <label class="label">Places of interest Title</label> <input class="input" type="text" placeholder="Enter poi title" name="title">
  </div>
  <button class="button is-link">Add Place of interest</button>
</form>