<section class="section">
    <div class="columns">
        <aside class="column">
            <img src="../images/sample.jpg" class="image"/>
        </aside>
        <article class="column">
            <div class="column">
                {{> filter-category-home}}
            </div class="column">
                {{> poi-table }}
        </article>
    </div>
</section>