<form action="/dashboard/addpoi" method="POST">
  <div class="field">
    <label class="label">Places of interest name</label> <input class="input" type="text" placeholder="Enter poi name" name="name">
    <label class="label">Places of interest description</label> <input class="input" type="text" placeholder="Enter poi description" name="description">
  </div>
  <button class="button is-link">Add Place of interest</button>
</form>